@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using UmbracoThirteenIPView.Models;
@{
	Layout = null;
}


<!DOCTYPE html>
<html>
<head>
	<title>Clubs in Copenhagen</title>
</head>
<body>

	@RenderBody()
</body>
</html>